/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// Adding custom styles
.hero img {
  width: 100%; /* Set the width to 100% */
  height: 100%; /* Maintain the original aspect ratio */
}